/* .signupcontainer{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.signupinputdiv{
  background: transparent;
  width: 180px;
  height:4px;
  padding: 1em;
  margin-bottom: 2em;
  border: lightpink;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 50px;
}

.signupsubmit{
  font-size:15px;
  border:red solid;
  border-radius: 10px;
  color: red;
  display: block;
  font-weight:bold;
}
 */
.signup_head{
  font-family:sans-serif;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  margin-bottom: 40px;
  font-size: 20px;
  height: 20px;


}
.signup_form{
  width: 400px;
  height:430px;
  font-family:sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 30px;

  background:white;
  margin-top: -30px;

}
.signup_error{
  display: flex;
  text-align: start;
  justify-content: start;
  align-items: start;
  color: tomato;
  

}

 .signupbtn1{
  font-size:15px;
  border:white;
  border-radius: 10px;
  color: #ff385c;
  display: block;
  margin-left: 1050px;
  font-weight: 400px;
  margin-top: -52px;
  margin-bottom:10px;
  height: 48px;
  background: none;
  font-family: Helvetica neue;
  cursor:pointer;
}
.signupbtn1:hover{
  background-color:white;
  border:2px solid darkblue;
}
