.signup_container{
  width:470px;
  height: 550px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup_username{
  background: transparent;
  width: 300px;
  height:30px;
  padding: 9px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-bottom:7px;
  color: black;
  font-family: sans-serif;
  font-weight: 50px;
}

.signup_head{
  font-family:sans-serif;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 45px;
  margin-bottom: 19px;
  font-size: 20px;
  height: 20px;


}
.signup_form{
  /* width: 400px;
  height:430px;
  font-family:sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 30px;

  background:white;
  margin-top: -30px; */
  width: 400px;
  height:450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background:white;
  font-family:sans-serif;
  margin-top: -30px;
}
.signup_error{
  display: flex;
  text-align: start;
  justify-content: flex-start;
  align-items: flex-start;
  color: tomato;
  font-family:sans-serif;
  margin-left: -110px;
  
}

 .signupbtn1{
  font-size:15px;
  border:white;
  border-radius: 10px;
  color: #ff385c;
  display: block;
  margin-left: 1050px;
  font-weight: 400px;
  margin-top: -52px;
  margin-bottom:10px;
  height: 48px;
  background: none;
  font-family: Helvetica neue;
  cursor:pointer;
}
.signupbtn1:hover{
  background-color:white;
  border:2px solid darkblue;
}
.signupbtn2{
  height: 48px;
  width: 330px;
  border: none;
  border-radius: 12px;
  background-color: rgb(230, 30, 77);
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom:20px;
}
