.review_outermost{

  width: 100%;

}
.myreview_head{
  font-family: sans-serif;
  display:flex;
  justify-content: start;
  margin-left: 40px;
}

/* .reviews_div{
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 10px;
  width: 100%;
} */
.onereview_container{
  border: grey 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 80%;
  margin-bottom: 20px;
  margin-left: 40px;



}
.deletebtn_container{
  margin-left: 800px;
  margin-bottom: 10px;
}
.deletereview_btn{
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  width: 104px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 100px;
}
.deletereview_btn:hover{
  border:2px solid blue;
  margin:1 px;
}
