/* main-class for whole page */

.outermost_div{

font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
sans-serif;
width: 100%;


}

.outer_div{
  font-family: sans-serif;

  justify-items:center;
  width:90%;
  /* padding-left:80px;
  padding-right:80px; */
  column-gap:20px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:6px;


}

/* one card dive including an image and info */

.spotdiv{
width:300px;
height:370px;

display: flex;
justify-content:center;
flex-direction:column;
align-items:center;
font-family:sans-serif;
font-size:16px;
margin-bottom:30px;
cursor:pointer;


}
.browser_navlink{
  text-decoration: none;



}

/* one image div */
 .browser_image_div{
  height:290px;
  width: 300px;
  border-radius: 12px;
  display:flex;
  object-fit:cover;
  display:flex;
  justify-content:center;


}

.browser_rate_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:10px;
  font-size: 16;
  font-family:sans-serif;


}
.spotmiddle{
  color:grey;
}

/* @media  and (max-width:1220px) {
  .outer_div{
    max-width: 1220px;
    width: 70%;
    padding-left: 110px;
    padding-right:110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
  }
} */

a{
  text-decoration:none;
  color:black
};
