/* main-class for whole page */

html,
body {
  margin: 0;
}

.outermost_div{


width: 100%;
display:flex;
justify-content:center;

}

.outer_div{

  margin-top:15px;
  margin-left:120px;
  margin-right:120px;
  /* /* width:80% */
  font-family: sans-serif;
  justify-content: center;
  justify-items:center;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  column-gap:10px;
  row-gap:20px;






}

/* one card dive including an image and info */

.spotdiv{
/* width:25%; */
height:auto;
display: flex;
flex-direction:column;
align-items:center;
justify-content:center;


}
.browser_navlink{
  text-decoration: none;
 display:grid;
 justify-self:center;
 align-items:center;
 padding:5px;


}

/* one image div */
 .browser_image_div{
  height:250px;
  width: 265px;
  border-radius: 12px;
  display:flex;
  object-fit:cover;
  display:flex;
  justify-content:center;
  padding:2px;

}

.browser_rate_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:10px;
  font-size: 16;
  font-family:sans-serif;
  width:265px;


}
.spotmiddle{
  color:grey;
}






a{
  text-decoration:none;
  color:black
};
