.createspot_container{
  display: flex;
  padding-right: 80px;
  padding-left: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: left;
}

.createspot_form{
  width: 600px;
  height: 680px;
  padding: 20px;
  border-radius: 10px;
  border: black solid 1px;
  justify-content: center;
}
.createspot_title{
  font-weight: 600;
  font-size: 24px;
  padding-left: 10px;
  font-family: sans-serif
}

.createspot_rows{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.createspot_input{
  width: 580px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;

}
.createspot_btn{
  background-color: #FF385C;
  color: white;
  width: 380px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
}
.createspot_btn:hover{
  box-shadow:15px 15px 15px lightred;
}
