/* main-class for whole page */

.outermost_div{


width: 100%;
display:flex;
justify-content:center;

}

.outer_div{

  margin-top:15px;
  margin-left:90px;
  margin-right:90px;
  width:80%;
  font-family: sans-serif;

  justify-items:center;
  display:grid;
  grid-template-columns:repeat(4,25%);
  grid-template-rows:auto;

  column-gap:20px;
  row-gap:20px;
  justify-items:center;


}

/* one card dive including an image and info */

.spotdiv{
width:100%;
height:100%;
display: flex;
flex-direction:column;
align-items:center;
justify-content:center;


}
.browser_navlink{
  text-decoration: none;
 display:grid;
 justify-self:center;
 align-items:center;
 padding:5px;


}

/* one image div */
 .browser_image_div{
  height:250px;
  width: 275px;
  border-radius: 12px;
  display:flex;
  object-fit:cover;
  display:flex;
  justify-content:center;
  padding:2px;

}

.browser_rate_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:10px;
  font-size: 16;
  font-family:sans-serif;
  width:275px;


}
.spotmiddle{
  color:grey;
}

 @media screen and (max-width:1200px) {
  .outer_div{
    max-width:1760px;
  margin-top:15px;
  margin-left:100px;
  margin-right:100px;
  width:80%;
  font-family: sans-serif;

  justify-items:center;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:auto;

  column-gap:15px;
  row-gap:20px;
  justify-items:center;
  }
}

@media screen and (max-width:900px) {
  .outer_div{
  margin-top:15px;
  margin-left:100px;
  margin-right:100px;
  width:80%;
  font-family: sans-serif;

  justify-items:center;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:auto;

  column-gap:15px;
  row-gap:20px;
  justify-items:center;
  }
}
@media screen and (max-width:600px) {
  .outer_div{
  margin-top:15px;
  margin-left:100px;
  margin-right:100px;
  width:80%;
  font-family: sans-serif;

  justify-items:center;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:auto;

  column-gap:15px;
  row-gap:20px;
  justify-items:center;
  }
}

a{
  text-decoration:none;
  color:black
};
