html,
body {
  margin: 0;
}

.spotdetailoutermost_div{
    width: 100%;

    /* margin-top:20px;
    margin-bottom: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
  }

  .sdcontainer_div{
    max-width:1140px;
    width:75%;
    font-family:sans-serif;
    font-size:16px;

    display:flex;
    flex-direction:column;
    row-gap:10px;
  }



  .sdheader_div{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    flex-wrap:wrap;
    row-gap: 5px;
  }
  .sdheadname{
    display:flex;
    justify-content:flex-start;
    font-family:sans-serif;

  }
  .sdsubheader_div{
  font-size: medium;
  display: flex;
  align-items:center;
  font-family:sans-serif;
  justify-content:flex-start;

  }

  .sdimages_div{
    width:100%;
    height: 400px;
    display:flex;
    flex-direction:row;
    column-gap:8px;


  }

  .sdimgleft_div{
    width:50%;
    height:100%;


  }

  .image0 {
    height:100%;
    width:100%;
    border-radius: 12px 0px 0px 12px;
    object-fit: cover;
  }

  .sdimgright_div{
    width:25%;
    height:100%;
    display:flex;
    flex-direction:column;
    row-gap:8px;


  }


.image1 {
  object-fit: cover;
  width:100%;
  height:196px;
}

.image2 {
  object-fit: cover;
  width:100%;
  height:196px;

}


.image3 {
  object-fit: cover;
  width:100%;
  height:196px;
  border-radius: 0px 12px 0px 0px;
}

.image4 {
  object-fit: cover;
  width:100%;
  height:196px;
  border-radius: 0px 0px 12px 0px;
}

.sdhost_div{
  width:60%;
  display: flex;

  justify-content:space-between;
  flex-wrap:wrap;
  row-gap: 5px;
  padding-top: 15px;
  font-family:sans-serif;
  font-weight:600;
  font-size:22px;
  height: 50px;
  border-bottom: lightgrey 1px solid;
}
.description_div{
  font-size:16px;
  padding-top: 10px;
  padding-bottom:10px;
  font-family:sans-serif;
  font-weight:300;
  color:dark;
  display: flex;
  width: 60%;
  height: 70px;
  overflow-wrap:break-word;
  justify-content: space-between;
  border-bottom: lightgrey 1px solid;
}

.sdreview_div{
  width:60%;
  padding-top: 15px;
  font-family:sans-serif;
  font-weight:370;
  display: flex;
  width: 100%;
  justify-content: start;
  font-size:16px;

}
.sdreviewsub_div{
  border-top: lightgrey 1px solid;
  width:100%;
  padding-top: 15px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  row-gap:5px;
  flex-direction:row;
  justify-content:flex-start;
  align-items: center;
  font-family:sans-serif;


}
.onereview{
  width:50%;
  overflow-wrap:break-word;
}
.reviewcontent{
  max-width: 80%;
  font-weight:300;

  font-family:sans-serif;
}
.reviewinfo{
  padding-right: 30px;
}


.reviewuser{
  display:flex;
  align-items:center;
  gap:8px;
  padding-top:5px;
}
.reviewer{
  height:32px;
  width:32px;
}

.subreviewername{
 font-weight:bold;
 margin:0;
 margin-bottom:2px;
}
.reviewtime{
  color:grey;
  margin:0;
  margin-top:2px;
}

.addreview_btn{
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 10px;
  background-color: #FF385C;
  color: white;
  font-weight: 500px;
  font-size: 15px;
  margin-top:-10px;
}
.addreview_btn:hover {
  box-shadow: 0px 0px 5px 5px rgb(237, 237, 237);
  transition-duration:200ms;
  cursor:pointer;

}
/* @media screen and (max-width:600px){
  .images_div{
    margin-top: 60px;
     max-height: 450px;
     display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas:
      "one one"
      "one one"
      "two three"
      "four five";
    grid-area: images;
    object-fit: cover;
  }
  .host_div{
    flex-direction:column;
  }
  .hostanddescription{
    flex-direction:column;
  }
  .reviewsub_div{
    flex-direction:column;
  }
} */
