/* .body {

  font-family: "Verdana", sans-serif;
} */

/* .line {
  padding: 0px 0 10px 0;
  background-color: white;
  display: flex;
  border-bottom: 0.5px solid #d3d3d3;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1px;
  height: 197px;
  gap: 10px;
} */
/*




/* .nav_link {
  text-decoration: none;
} */

/* .home_link {
  color: #ff385c;
  display: flex;
  font-weight: bold;
  font-size: 1.15rem;
} */

/* #cloudBnB_logo {
  align-items: center;
  font-size: 4.75rem;
  font-weight: bold;
  line-height: 40px;
  padding-left: 8px;
  padding-top: 14px;
} */

 /* .home_buttons {
  display: flex;
  font-size: 18px;
  margin-right: 8px;
  margin-top: 15px;
} */

.homepagelogo{

  color :#ff385c;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
  margin-left: 15px;
  height: 48px;
}



.wordlogo{
  color :#ff385c;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  margin-top: -30px;
  margin-left: 65px;

}
.signupbtn{
  font-size:15px;
  border:red;
  border-radius: 10px;
  color: black;
  display: block;
  font-weight:20px;
  margin-top: -20px;
  margin-left: 1150px;
  margin-right:20px;

}
.signupnavlink{
  text-decoration:none;
}

.signupbtn:hover {
  box-shadow: 0px 0px 5px gray;
}
.wordlogolink{
  text-decoration:none;
}
.navtop_div{
 /* display:flex; */
 position: sticky;
 top:0;
 background-color: white;
    /* z-index: 100; */
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: solid 1px lightgrey;

  width:100%
}
.navtop_right_div{
  /* display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  width:40%;
  margin-right:100px;
  margin-top: 5px;
  position: aboslute; */


}
