html,
body {
  margin: 0;
}

.wordlogolink{
  color: red;
  font-size: 14px;
  font-weight: 500;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  text-decoration: none;
}
.twologo{
  display: flex;
  flex-direction:row;
  margin-left: 5px;
}
.singuploginnav{
  display:flex;
  justify-content:space-between;

   margin-right:6px;
}
.wordlogo{
  font-weight: 500;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 23px;
  margin-top: 8px;
  color:#ff385c;

}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 35px;
  width: 80px;
  border-radius: 12px;
  transition-duration: 250ms;



}

.login-signup-container {
  display: flex;

}

.NavBar {

  display: flex;
  flex-direction:row;
  width:74.5%;
  /* border: 2px dashed green; */
  /* border-bottom: 1px; */

  align-items: space-between;
  justify-content: space-between;
  /* align-content: center; */
  /* align-items: center; */
  /* margin-left: 12.8%;
  margin-right: 15%; */
  margin-top: 18px;
  padding-bottom: 15px;
  /* margin-bottom: 30px; */
  /* border-bottom: 1px solid lightgrey; */
  margin-right:10px;
  /* margin-left:100px; */
  margin-left:10px;

}
.divoutsidenavbar{

  width:100%;
   display:flex;
  flex-direction:row;
  justify-content: center;

  border-bottom: 1px solid lightgrey;


}
.cloudlogo{

    height: 47px;

}
/* .loginbtn1{
  font-size:15px;
  border:white;
  border-radius: 10px;
  color: #ff385c;
  display: block;

  font-weight: 400px;


  height: 37px;
  background:none;
  font-family: sans-serif;
  cursor:pointer;
}
.loginbtn1:hover{
  background-color:white;
  border:2px solid darkblue;
} */
