/* .body {

  font-family: "Verdana", sans-serif;
} */

/* .line {
  padding: 0px 0 10px 0;
  background-color: white;
  display: flex;
  border-bottom: 0.5px solid #d3d3d3;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1px;
  height: 197px;
  gap: 10px;
} */
/*
.actions_menu {
  color: purple;
  background-color: white;
  margin-top: 15px;
  border: white;
  border-radius: 20px;
  height: 40px;
  width: 80px;
  padding-left: 17px;
  padding-right: 40px;
  font-size: 20px;
  display: flex;
  position: relative;
  text-align: start;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dddddd;
} */

/* .actions_menu:hover {
  box-shadow: 0px 0px 5px gray;
} */



/* .nav_link {
  text-decoration: none;
} */

/* .home_link {
  color: #ff385c;
  display: flex;
  font-weight: bold;
  font-size: 1.15rem;
} */

/* #cloudBnB_logo {
  align-items: center;
  font-size: 4.75rem;
  font-weight: bold;
  line-height: 40px;
  padding-left: 8px;
  padding-top: 14px;
} */

 /* .home_buttons {
  display: flex;
  font-size: 18px;
  margin-right: 8px;
  margin-top: 15px;
} */

.homepagelogo{
  color :red;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  line-height: 40px;
  height: 30px;
  font-size:20px;
}
